



@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manage
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" asp-controller="Administration"
               asp-action="ListUsers">Users</a>
            <a class="dropdown-item" asp-controller="Administration"
               asp-action="ListRoles">Roles</a>

        </div>
    </li>
}

@if(signInManager.IsSignedIn(User) && User.IsInRole("Tester"))
{
<li class="nav-item">
    <a asp-action="create" asp-controller="Bugs" class="nav-link">Raise Issue</a>
</li>
}


