<div class="container-fluid p-5">
    <div class="row justify-content-around  ">
        <div class="col-5  ">
            <span class="label">Created</span>
        </div>
        <div class="col-5 bg-fuchsia">two</div>
        <div class="col-5  bg-red ">three</div>
        <div class="col-5  bg-gradient-fuchsia ">four</div>
    </div>


    <a class="btn "  onclick="msgnotify('just Checking','error')">click me</a>



</div>