@model IEnumerable<Bug>
@{
    ViewData["Title"] = "List of My  Issues";
}







<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">
                   My Created Issues
                </h1>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->




<section class="content">

    <div class="container-fluid">


        <div class="row">

            <!--MY Issues -->

            <div id="MyIssues" class="col-lg-12 col-12">
                <vc:my-issues is-full="false"></vc:my-issues>
            </div>
        </div>


      



    </div>

</section>




